* {
  box-sizing: border-box;
}

.main-header {
  width: 35%;
  float: left;
  padding-top: 35px;
  margin: 100px 50px 0px 50px;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFBF00;
  background-image: url("/images/absurdity.png");
}

