* {
  box-sizing: border-box;
}

.new-tweet {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  margin: 100px 50px 50px 0px;
}

.new-tweet label {
  display: block;
}

#tweet-text {
  width: 100%;
  font-family: inherit;
  font-size: 85%;
  background-color: inherit;
  border: none;
  outline: none;
  margin-bottom: 15px;
  border-bottom: 4px solid black;
  padding-top: 10px;
  padding-bottom: 2px;
}

.button-counter-container button {
  color: #FFFFFF;
  background-color: #4056a1;
}

.button-counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Bungee", sans-serif;
}

#alert-message {
  display: none;
  border: 5px solid red;
  color: red;
  padding: 5px 20px;
}
